{% extends "layouts/layout1.html" %}

{% block title %}
Fotoğraflar - Ülfer Ekmek ve Unlu Mamüller
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/001.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/002.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/003.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/004.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/005.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/006.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/007.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/008.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/009.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/010.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/011.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/012.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/013.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/0014.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/015.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/016.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/017.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/018.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/019.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/020.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/021.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/022.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/023.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/024.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/025.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/026.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/027.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/028.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/029.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/030.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/031.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/static/img/fotograflar/032.jpg" alt="">
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}