{% extends "layouts/layout1.html" %}

{% block title %}
Hakkımızda - Ülfer Ekmek ve Unlu Mamüller
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="text-center">
                        <strong>Hakkımızda</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/static/img/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    <h2>1946'dan beri Balıkesir'in İvrindi ilçesinde kaliteli ekmek, pasta ve unlu mamüllerimiz ve baklava çeşitlerimiz ile halkımıza hizmet vermekteyiz.</h2>
                    <br></br>
                    <br></br>
                    <h2>Lokma hizmeti de vermekteyiz. Hayırlarınız için lokma dökülür.</h2>
                </div>
            </div>
        </div>


    </div>
{% endblock %}