{% extends "layouts/layout1.html" %}

{% block title %}
İletişim - Ülfer Ekmek ve Unlu Mamüller
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h1>Telefon: (0266) 456 10 97</h1>
                    <br></br>
                    <hr class="tagline-divider">
                    <br></br>
                    <h1>Adres: Bedrettin Mh. Zübeyde Hanım Caddesi No: 5|C İvrindi / Balıkesir</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d768.7568172881992!2d27.48437907224343!3d39.58153579072955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ea3236ab5c80d04!2sMatador+Ekmek+Fabrikasi!5e0!3m2!1str!2str!4v1501094537891" width="1100" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}